<!DOCTYPE html>
	<html>
		<style>
			body {
			  background-image: url('Morris_green_pattern.jpg');
			}
		</style>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
				<li><a href="/publications">Publications</a></li>
	        		<li><a href="/cv">CV</a></li>
				<li><a href="/demos_page">Demos</a></li>
					<li><a href="/womenshealth">Health Advocacy</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:marlene.berke@yale.edu">email</a></li>
	        		<li><a href="https://github.com/marleneberke">github</a></li>
				<li><a href="https://twitter.com/MarleneBerke">twitter</a></li>
				<li><a href="https://scholar.google.com/citations?user=q-4IqG0AAAAJ&hl=en&oi=ao">google scholar</a></li>
				</ul>
			</footer>
		</body>
	</html>
